<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>JBNicolai - {{ page.title }}</title>

    <meta name="description" content="">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.excerpt | escape }}">
    <meta name="twitter:creator" content="@{{ site.author.twitter }}">
    <meta name="twitter:image" content="">
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    <meta name="twitter:domain" content="{{ site.url }}">

    <link rel="author" href="https://plus.google.com/+JoshuaAppelman?rel=author">

    <!-- build:css({app,.tmp}) /css/main.css -->
    <!-- Syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">
    <!--Bootstrap-->
    <!--<link rel="stylesheet" href="/_bower_components/bootstrap/dist/css/bootstrap.min.css">-->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->

    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Serif">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:600,300">

    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/icons/apple-touch-icon-152x152-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/icons/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/img/icons/apple-touch-icon-76x76-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/img/icons/apple-touch-icon-60x60-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/icons/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/icons/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/icons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-touch-icon.png">
    <link rel="shortcut icon" href="/img/icons/favicon.ico">
    <link rel="icon" type="image/png" sizes="64x64" href="/img/icons/favicon.png">
  </head>
  <body>
    <header class="site_width text center padding_top_big margin_bottom_big">
      <h1 class="blog_title margin_bottom_small"><a href="/">Joshua Boy Nicolai</a></h1>
      <h4 class="text book">Musings</h4>

      <div class="social border solid top_small bottom_small padding_medium">
        <h6 class="text book color c_black_medium without_margin padding_right_big">
          <a href="/about"><i class="fa fa-user"></i> <span class="margin_left_small desktop">About me</span></a>
        </h6>
        <h6 class="text book color c_black_medium without_margin padding_right_big">
          <a href="//linkedin.com/in/{{ site.author.linkedin }}" target="_blank"><i class="fa fa-linkedin-square"></i> <span class="margin_left_small desktop">LinkedIn</span></a>
        </h6>
        <h6 class="text book color c_black_medium without_margin padding_right_big">
          <a href="//twitter.com/{{ site.author.twitter }}" target="_blank"><i class="fa fa-twitter-square"></i> <span class="margin_left_small desktop">Twitter</span></a>
        </h6>
        <h6 class="text book color c_black_medium without_margin">
          <a href="//github.com/{{ site.author.github }}" target="_blank"><i class="fa fa-github"></i> <span class="margin_left_small desktop">GitHub</span></a>
        </h6>
      </div>
    </header>

    <main class="site_width" role="main">
      {{ content }}
    </main>

    <footer class="blog_info margin_top_big padding_medium text center">
      <h5 class="text book small">Browse the source at <a href="https://github.com/jbnicolai/jbnicolai.com"><span>GitHub</span></a></h5>
    </footer>

    <!--[> build:js(app) /js/scripts.js <]-->
    <script src="/js/main.js"></script>
    <!--[> endbuild <]-->
  </body>
</html>
